/* CSS eset */
* {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}
/* CSS Tag alterations */
body {
  margin: 0;
  
  line-height: 1.5;
  color: #222;
  background: cornsilk;
}

/* Page layout styles */
.container {
  width: min(900px, 92%);
  margin: 0 auto;
}

.site-header,
.site-footer {
  background: #1f2937;
  color: lightyellow;
  padding: 2rem 0;
}

.site-header h1,
.site-header p {
  margin: 0;
}

main {
  padding: 2rem 0;
}

.card {
  background: whitesmoke;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  border: 1px solid black;
}

.site-footer {
  text-align: center;
}

/* Custom CSS for style and fun */

.task{
  color:maroon;
  font-weight: bolder;
}